extends layout
block content

   link(rel='stylesheet', href='/stylesheets/style.css')



   script.
      var config_obj = !{JSON.stringify(config_obj)};
      var state_obj = !{JSON.stringify(state_obj)};

   script(src="/javascripts/source.js")


   .container

      br
      br

      .btn.btn-default.btn-lg#doneButton(name="top", onclick='getPage()') Back

      h3
         a(href="https://fingertips.phe.org.uk/profile/inhale", target="blank") Source


      p The original Public Health England source data can be found #{" "}
         span
            a(href="https://fingertips.phe.org.uk/profile/inhale", target="blank") here
         span .

      p Below are the Public Health England descriptions of the data.

      ul(style='list-style-type:circle')
         li
            a(href="#Asthma: QOF prevalence (all ages)") Asthma: QOF prevalence (all ages)
         li
            a(href="#Estimated prevalence of asthma (all ages)") Estimated prevalence of asthma (all ages)
         li
            a(href="#Asthma admissions per 1,000 population") Asthma admissions per 1,000 population
         li
            a(href="#Emergency asthma admissions per 1,000 population") Emergency asthma admissions per 1,000 population

      hr

      //----------------



      h2
         a(name="Asthma: QOF prevalence (all ages)") Asthma: QOF prevalence (all ages)

      a(href="#top") Top of page
       span  |
       span
         a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p Asthma: QOF prevalence (all ages)

      h4 Definition
      p The percentage of patients with asthma, excluding those who have been prescribed no asthma-related drugs in the previous twelve months, as recorded on practice disease registers.

      h4 Value type
      p Proportion

      h4 Unit
      p %

      h4 Rationale
      p Asthma is a common condition which responds well to appropriate management and which is principally managed in primary care. This indicator set was originally informed by the British Thoracic Society (BTS)/SIGN guidelines which were published in early 2003. In keeping with the other indicators, not all areas of management are included in the indicator set in an attempt to keep the data collection within manageable proportions.

      h4 Data source
      p HSCIC (QOF)

      h4 Indicator production
      p Public Health England, Knowledge and Intelligence Team (East)

      h4 Definition of numerator
      p Patients with asthma, excluding those who have been prescribed no asthma-related drugs in the previous twelve months.

      h4 Source of numerator
      p HSCIC (QOF)

      h4 Definition of denominator
      p Total practice list size

      h4 Source of denominator
      p HSCIC (QOF)

      h4 Methodology
      p Data aggregation: GP practice to CCG

      h4 Confidence interval details
      p A confidence interval is a range of values that is used to quantify the imprecision in the estimate of a particular indicator. Specifically it quantifies the imprecision that results from random variation in the measurement of the indicator. A wider confidence interval shows that the indicator value presented is likely to be a less precise estimate of the true underlying value. The Wilson Score method gives very accurate approximate confidence intervals for proportions and odds based on the assumption of a Binomial distribution. It can be used with any data values, even when the denominator is very small and, unlike some methods, it does not fail to give an interval when the numerator count, and therefore the proportion, is zero. The Wilson Score method is the preferred method for calculating confidence intervals for proportions and odds, but it can also be used for rates, as long as the event rate is low (relatively rare events within the population) as the Binomial distribution is a very good approximation to the Poisson distribution when the event rate is low. The method is described in detail in APHO Technical Briefing 3: Commonly used public health statistics and their confidence intervals.

      h4 Disclosure control
      p NA

      h4 Rounding
      p NA

      h4 Caveats
      p NA

      h4 Notes
      p NA

      h4 Copyright
      p Re-used with the permission of the Health and Social Care Information Centre (HSCIC). All rights reserved.

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr


      //----------------



      h2
        a(name="Estimated prevalence of asthma (all ages)") Estimated prevalence of asthma (all ages)

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p Modelled estimate of the prevalence of asthma

      h4 Definition
      p The estimated percentage of people with asthma. These estimates have been calculated using a model developed by the department of Primary Care and Social Medicine, Imperial College London. The model was developed using data from the 2001 Health Survey for England. The model takes into account age, sex ethnicity, smoking status, rurality and deprivation score. Ethnicity is described as white including mixed and other ethnicities), Black or Asian.

      h4 Value type
      p Proportion

      h4 Unit
      p %

      h4 Rationale
      p NA

      h4 Data source
      p HSCIC (NHS Comparators)

      h4 Indicator production
      p Public Health England, Knowledge and Intelligence Team (East)

      h4 Definition of numerator
      p Estimated number of people with asthma

      h4 Source of numerator
      p Calculated by Public Health England: Knowledge and Intelligence Team (North West) using data from the Health and Social Care Information Centre - Hospital Episode Statistics (HES)

      h4 Definition of denominator
      p Population mid-year estimates

      h4 Source of denominator
      p Office for National Statistics (ONS)

      h4 Methodology
      p Data aggregation: GP practice to CCG

      h4 Confidence interval details
      p NA

      h4 Disclosure control
      p NA

      h4 Rounding
      p NA

      h4 Caveats
      p NA

      h4 Notes
      p NA

      h4 Copyright
      p Re-used with the permission of the Health and Social Care Information Centre (HSCIC). All rights reserved.


      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr

      //----------------

      h2
         a(name= "Asthma admissions per 1,000 population")  Asthma admissions per 1,000 population

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p Asthma admissions per 1,000 population

      h4 Definition
      p The crude rate for all inpatient and day case admissions for asthma, per 1,000 practice population

      h4 Value type
      p Crude rate

      h4 Unit
      p per 1,000

      h4 Rationale
      p NA

      h4 Data source
      p HSCIC (NHS Comparators)

      h4 Indicator production
      p Public Health England Knowledge and Intelligence Team (East)

      h4 Definition of numerator
      p Count of completed spells and sum of PbR tariff where patient classification is inpatient (1) or day case (2) and ICD10 primary diagnosis code is in range J45-J46.

      h4 Source of numerator
      p HES

      h4 Definition of denominator
      p Population based on GP list data.

      h4 Source of denominator
      p HSCIC (QOF)

      h4 Methodology
      p Data aggregation: GP practice to CCG

      h4 Confidence interval details
      p Dobson & Byar's methods, 95% CI

      h4 Confidence interval methodology
      p A confidence interval is a range of values that is used to quantify the imprecision in the estimate of a particular indicator. Specifically it quantifies the imprecision that results from random variation in the measurement of the indicator. A wider confidence interval shows that the indicator value presented is likely to be a less precise estimate of the true underlying value. Dobson & Byar’s method is used for calculating confidence intervals for directly standardised rates. A confidence interval is calculated for the observed total count of events using Byar’s method, which gives very accurate approximate confidence intervals for counts based on the assumption of a Poisson distribution and is sufficiently accurate for counts as low as 5 (below 5, an exact method should be used, based on Poisson tables or the Chi-squared distribution). This interval is then weighted and scaled to give the interval for the standardised rate using the method described by Dobson. The method is described in detail in APHO Technical Briefing 3: Commonly used public health statistics and their confidence intervals.

      h4 Disclosure control
      p NA

      h4 Rounding
      p NA

      h4 Caveats
      p NA

      h4 Notes
      p NA

      h4 Copyright
      p Re-used with the permission of the Health and Social Care Information Centre (HSCIC). All rights reserved.


      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr

      //----------------


      h2
        a(name="Emergency asthma admissions per 1,000 population") Emergency asthma admissions per 1,000 population

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p Emergency asthma admissions per 1,000 population

      h4 Definition
      p The crude rate for emergency inpatient and emergency day case admissions for asthma, per 1,000 practice population

      h4 Value type
      p Crude rate

      h4 Unit
      p per 1000

      h4 Rationale
      p NA

      h4 Data source
      p HSCIC (NHS Comparators)

      h4 Indicator production
      p Public Health England Knowledge and Intelligence Team (East)

      h4 Definition of numerator
      p Count of completed spells and sum of PbR tariff where admission method is emergency (21, 22, 23, 24, 28), patient classification is inpatient (1) and ICD10 primary diagnosis code is in range J45-J46.

      h4 Source of numerator
      p HES

      h4 Definition of denominator
      p Population based on GP list data.

      h4 Source of denominator
      p HSCIC (QOF)

      h4 Methodology
      p Data aggregation: GP practice to CCG

      h4 Confidence interval details
      p Dobson & Byar's methods, 95% CI

      h4 Confidence interval methodology
      p A confidence interval is a range of values that is used to quantify the imprecision in the estimate of a particular indicator. Specifically it quantifies the imprecision that results from random variation in the measurement of the indicator. A wider confidence interval shows that the indicator value presented is likely to be a less precise estimate of the true underlying value. Dobson & Byar’s method is used for calculating confidence intervals for directly standardised rates. A confidence interval is calculated for the observed total count of events using Byar’s method, which gives very accurate approximate confidence intervals for counts based on the assumption of a Poisson distribution and is sufficiently accurate for counts as low as 5 (below 5, an exact method should be used, based on Poisson tables or the Chi-squared distribution). This interval is then weighted and scaled to give the interval for the standardised rate using the method described by Dobson. The method is described in detail in APHO Technical Briefing 3: Commonly used public health statistics and their confidence intervals.

      h4 Disclosure control
      p NA

      h4 Rounding
      p NA

      h4 Caveats
      p NA

      h4 Notes
      p NA

      h4 Copyright
      p Re-used with the permission of the Health and Social Care Information Centre (HSCIC). All rights reserved.

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr

      div
           .btn.btn-default.btn-lg#doneButton(onclick='getPage()') Back
